<div class="container" ng-controller="homecontroll">
	<div class="jumbotron text-center">
	    <h1>hello, Gamer's</h1>
	    <p>
	        Dota 2 has a widespread and active competitive scene, with teams from across the world playing professionally in various leagues and tournaments. Premium Dota 2 tournaments often have prize pools totaling millions of U.S. dollars, the highest of any eSport. The largest of them is known as The International, which is produced annually by Valve and held at the KeyArena in Seattle. Valve also manages an event format known as the Dota Pro Circuit, which are tournaments held during an eight-month period every year that award qualification points based on results for getting directly invited to The International. For most tournaments, media coverage is done by a selection of on-site staff who provide commentary and analysis for the ongoing matches, similar to traditional sporting events. Broadcasts of professional Dota 2 matches are streamed live over the internet, and sometimes simulcast on television networks, with peak viewership numbers in the millions.
	    </p>
	    <p class="text-center"><p class="text-center"> <button class="btn btn-danger" ng-click="openAlert()">about</button></p>
	</div>
</div>
