<div class="container" ng-controller="homecontroll">
<div class="jumbotron">
    <h1>Hello, Dota!</h1>
    <p>Dendi started his Dota 2 career with Na'Vi, who quickly established themselves as one of the best teams in the world by winning The International 2011. Na`Vi continued to dominate and won many tournaments in the years 2011, 2012 and 2013. Dendi was the center of Na'Vi's consistent stable and skilled rosters, with his performance greatly contributing to their success.

He was featured in a Valve film called Free to Play, showing a gamer's perspective into competitive Dota 2.[7] In The International 2016, he was featured again in a video when he is not playing Dota. Dendi is first person in the history of Dota 2 to participate in six Internationals under one organisation.  </p>
    <p class="text-center"> <button class="btn btn-primary" ng-click="homeAlert()">home</button>
</p>
    



   


    </div>
</div>