<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Gumbo is a stew or soup associated with southern Louisiana since the 18th century.
        It consists primarily of meat or shellfish, a strongly flavored stock, a thickener,
        celery, bell peppers, and onions. The dish likely derived its name from either the Bantu
        word for okra (ki ngombo) or the Choctaw word for filé (kombo). Several varieties exist;
        Creole gumbo generally contains shellfish and tomatoes, while Cajun gumbo is generally
        based on a dark roux and is spicier, with either shellfish or fowl. Sausage or ham are
        often added to gumbos. After the base is prepared, the vegetables are cooked down,
        and meat is added. The dish simmers for a minimum of three hours, with shellfish and
        some spices added near the end. It is traditionally served over rice. The dish combines
        ingredients and culinary practices of several cultures, including French, Spanish, German, West African, and Choctaw. It was first described in 1802, and was listed in various cookbooks in the latter half of the 19th century. Chef Paul Prudhomme's popularity in the 1980s spurred further interest in gumbo. The dish is the official cuisine of Louisiana. (Full article...) </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>