<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>DEMO</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">



    <style>
        .sky {
            color:white;
            background-color:lightblue;
            padding:20px;
            font-family:"Courier New";
        }
        .tomato {
            background-color:coral;
            padding:40px;
            font-family:Verdana;
        }
    </style>

</head>
<body ng-app="myApp" >

    <nav class="navbar navbar-default" ng-controller="NavCtrl">
        <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index"><b>fakebook</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">


                    <li><a href="login">login</a></li>
                    <li><a href="about">about</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="ui-view"></div>

<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="js/app.js"></script>
    <script src="js/controllers/control.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/newregister.js"></script>



</body>
</html>