
<link rel="stylesheet" type="text/css" href="../css/login.css">



            <div class="login-page">
                <div class="form">
                    <p><b>Create a new account</b></p>
                    <form class="login-form">
                        <input type="text" placeholder="firstname"/>
                        <input type="text" placeholder="lastnamename"/>
                        <input type="password" placeholder="enter-password"/>
                        <input type="password" placeholder="confirm-password"/>
                        <input type="password" placeholder="email"/>
                        <button>login</button>
                    </form>
                </div>
            </div>


